Fragment
  .Content
    h1 Example
    p
      | This is authored in pug to end up as React JSX.
    p
      | As it is basically an html, one can use all regular html tags 
      | and apply some css class names as is usually done in html.
    p
      | Interestingly, one can also use React components here 
      | in a very similar way! Just make sure the mother site 
      | is aware of of that and have them ready.
    p
      | Look at this:
    Link(to="/home") go home
    .Subnote
      p
        | - this was a Link tag, which is not an html, it is a name 
        | of React component defined somewhere inside main react application.
      p
        | But before adding React component here, make sure the programmer 
        | of the site did his/her homework of creating/installing them 
        | inside the main app.        
      p
        | And the same is true is regard of CSS class names: first discuss 
        | it with a person who runs the main site, so that those styles 
        | would be accessible at the site run time.
