.Content
  h1 Example
  p
    | This will be my component initially authored with pug.
    | As you can see it's mostly text mixed with tags 
    | and css class names.
  Link(to="/home") go home
  .Subnote
    p
      | We've used Link tag at line 6, which is a React component 
      | defined somewhere inside main react application.
      | Before authoring one has to know the list of CSS styles and 
      | special react components available and use only those.
      | All the regular html tags are availbale too of course.
    hr 
    p
      | Not much harder then markdown, isn't it?
